<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/master.css">
    <title>Tools</title>
  </head>
  <body>

      <script type="text/javascript">
        function system_page_clicked(){
          window.location.href = '/system'
        }
        function task_manager_page_clicked(){
          window.location.href = '/task_manager'
        }
        function trolling_message_page_clicked(){
          window.location.href = '/trolling_message'
        }
        function login_clicked(){
          window.location.href = '/login'
        }
      </script>

      <div class="header">
          <div class="header_btn_left" onclick="system_page_clicked()">
            System page
          </div>
          <div class="header_btn_middle" onclick="task_manager_page_clicked()">
            Task manager page
          </div>
          <div class="header_btn_right" onclick="trolling_message_page_clicked()">
            Trolling message page
          </div>

      </div>

      <div class="main_wrapper">
      {% block content %}
      привет
      {% endblock %}
      </div>

  </body>
</html>
